{% extends 'base_generic.html' %}


{% block title %}
Home Page
{% endblock title %}

{% block content %}

{% comment %} Corousal START {% endcomment %}

<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="2000">
      <img src="https://source.unsplash.com/1440x600/?nature,water" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <p>“To achieve great things, two things are needed: a plan and not quite enough time.” </p>
        <h5>-Leonard Bernstein</h5>
      </div>
    </div>
    <div class="carousel-item" data-interval="2000">
      <img src="https://source.unsplash.com/1440x600/?winter,ice" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <p>"Some people look for a beautiful place. Others make a place beautiful.” </p>
        <h5>-Hazrat Inavat Khan</h5>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>



{% comment %} Corousal END {% endcomment %}


{% endblock content %}