{% extends 'base_generic.html' %}
{% load crispy_forms_tags %}

{% block title %}Add Place{% endblock title %}


{% block content %}

{% load leaflet_tags %}
{% leaflet_js plugins="forms" %}
{% leaflet_css plugins="forms" %}

<div class="container">
<h4>Add a new place:</h4>

  <form  method="POST">
    {% csrf_token %}
    {{form|crispy}}
    <div class="container text-center">
    <button type="submit" class="btn btn-outline-dark">Add Place</button>
    </div>
  </form>

</div>





{% endblock %}
